@{
    ViewData["Title"] = "Perfil Paciente";
}

<body>
    <h1 class=" d-flex justify-content-center m-3 mb-2" style="background-color: #faebd7;">Bem vindo(a)!</h1>
    <section>
        <div class="overflow-scroll p-2">
            <a class="btn btn-light btn-block p-4" asp-area="" asp-controller="Tratamentos" asp-action="Index"><strong>Tratamento</strong></a>
            <a class="btn btn-light btn-block p-4" asp-area="" asp-controller="CaixinhaDeRemedioss" asp-action="Index"><strong>Caixinha de Remédios</strong></a>
            <a class="btn btn-light btn-block p-4" href="#" role="button"><i>Pesquisar preços (Em Breve)</i></a>
            <a class="btn btn-light btn-block p-4" href="#" role="button"><i>Configurações (Em Breve)</i></a>
            <a class="btn btn-light btn-block p-4 em-breve" href="#" role="button"><i>Visualizar Receita (Em Breve)</i></a>
            <a class="btn btn-light btn-block p-4" asp-area="" asp-controller="Receitas" asp-action="Index"><strong>Importar/Exportar Receita (Em Breve)</strong></a>
        </div>
    </section>
</body>
