@model MinhaSaude.Models.CaixinhaDeRemedios

@{
    ViewData["Title"] = "Create";
}

<h2>Adicionar</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicamentoId" class="control-label"></label>
                <select asp-for="MedicamentoId" class="form-control" asp-items="ViewBag.MedicamentoId"></select>
                <span asp-validation-for="MedicamentoId" class="text-danger"></span>
                <p>
                    <a asp-area="" asp-controller="Medicamentos" asp-action="Create">Incluir Medicamento</a> caso não esteja na lista
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a class="btn btn-success" asp-controller="CaixinhaDeRemedioss" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
