@model MinhaSaude.Models.CaixinhaDeRemedios

@{
    ViewData["Title"] = "Excluir";
}


<h3>Deseja realmente excluir este medicamento da sua Caixinha?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicamentoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="btn btn-success" asp-action="Index">Voltar</a>
    </form>
</div>
